<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="/static/css/register.css">
    <link rel="icon" href="/static/img/logonoBack.png" type="image/x-icon">
</head>


<body>
<div class="container">

    <div class="card bg-white">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>
            <p>
                <a href="" class="btn btn-block btn-outline-info"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                <a href="" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light" style="">-------------------------- OR -------------------------</span>
            </p>
            <form action="#" th:action="@{/register/processRegistrationForm}" th:object="${webUser}" method="POST">
                <!-- Place for messages: error, alert etc ... -->
                <div class="form-group">
                    <div class="col-xs-15">
                        <div>
                            <!-- Check for login error -->
                            <div th:if="${param.registrationError}">
                                <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                    <span th:text="${param.registrationError}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input th:field="*{firstName}" class="form-control" placeholder="First name" type="text">
                    <input th:field="*{lastName}" class="form-control" placeholder="Last name" type="text">
                </div>
                <div th:if="${#fields.hasErrors('firstName')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}" />
                    </ul>
                </div>
                <div th:if="${#fields.hasErrors('lastName')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}" />
                    </ul>
                </div><!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input th:field="*{userName}" class="form-control" placeholder="Username" type="text">
                </div>
                <div th:if="${#fields.hasErrors('userName')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}" />
                    </ul>
                </div><!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input th:field="*{email}" class="form-control" placeholder="Email address" type="email">
                </div>
                <div th:if="${#fields.hasErrors('email')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
                    </ul>
                </div><!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                    <select class="form-control" th:field="*{roles}">
                        <option th:value="ROLE_EMPLOYEE" selected=""> Select account type (Default)</option>
                        <option th:value="ROLE_EMPLOYEE">Employee</option>
                        <option th:value="ROLE_MANAGER">Manager</option>
                    </select>
                </div> <!-- form-group end.// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input th:field="*{password}" class="form-control" placeholder="Create password" type="password">
                </div>
                <div th:if="${#fields.hasErrors('password')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
                    </ul>
                </div><!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Repeat password" type="password">
                </div><!-- form-group// --><!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                </div> <!-- form-group// -->
                <p class="text-center">Have an account? <a href="@{/}">Log In</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>
</body>
