<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TheJob</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <div sec:authorize="hasRole('ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/admin-home}">Admin Page</a>
                    </li>
                </div>
                <div sec:authorize="hasRole('MANAGER')">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/manager/manager-home}">Manager Page</a>
                    </li>
                </div>
            </ul>
            <form class="d-flex" action="#" th:action="@{/logout}" method="POST">
                <button class="btn btn-outline-primary" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>
<br><br>
Test
</body>
</html>